
body{
    user-select: none;    
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;
}

#contentBox{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    gap: 3.5vh;
    padding: 3.5vh;

    height: 79vh;
}

.day{
    width: 40vh;
    height: 15vh;
    font-size: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    box-shadow: 0px 8px 0px #C66B4E;
    border: 3px solid #C66B4E;
    background-color: #FF8A65;
    color: white;
    

    
}

#addButton{
    background-color: #4C4C4C;

    position: fixed;
    bottom: 10.5vh;
    right: 3.5vh;

    width: 6.5vh;
    height: 6.5vh;

    box-shadow: 0px 4px 0px #3A3A3A;

    color: white;
    font-size: 2.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    border: none;

    cursor: pointer;;
}

.inputCN{
    font-size: 4vh;
    width: 35vh;
    border: none;
    text-align: center;
    outline: none;
    color: white;
    background-color: #FF8A65;
}



.blinking-text {
    animation: blink 1s infinite;
  }

#optionBox{
    background-color: #4C4C4C;
    box-shadow: 0px 6px 0px #3A3A3A;
    border-radius: 6px;
    color: white;

    gap: 1vh;
     
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 30vh;
    left: 20vw;

    width: 20vh;
    height: 10vh;

    opacity: 0;
}

#delete, #rename{
    margin: 0;
    cursor: pointer;
}

@keyframes blink {
    0% { color: #4C4C4C; }
    10% { color: red; }
    90% { color: red; }
    100% { color: #4C4C4C; }
  }


@media(min-width: 60vh){
    .day{
        width: 50vh;
    }
}
  

  